* {
    box-sizing: border-box;
}

Body {
    background-color: rgba(77, 123, 153, 0.623);
    display: flex;
    justify-content: center;
    align-items: center;
   
}

/* Centered text */
h1.centered, .space_image {
    position: absolute;
    top: 150px;
    left: 625px;
    transform: translate(-50%, -50%);
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }

img {
    border: 5pt black solid;
    width: 850px;
    height: 450px;
}

h1 {
    color: rgb(255, 58, 255);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 100px;
    object-position: 50%;
}

div.secondContainer {
    /* color: rgb(26, 22, 22);
    border: 10px rgb(63, 55, 55); */
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-start;
    width: 270px;
}

/* div {
    display: flex;
    flex-flow: column wrap;
} */

h2 {
    display: flex;
    align-content: center;
    align-items: flex-end;
    width: 270px;
}

span {
    display: flex;
    justify-content: space-evenly;
    background-color: lightgrey;
    padding: 10pt;
    height: 324px;
}

ul {
    list-style: none;
}

li {
    display: flex;
    justify-content: flex-start;
    width: 270px;
}

/* input {
    background-color: rgb(32, 29, 29);
    color: white;
} */